[accounts]
# add the account number of where your money is
BASE=99999999999
# add as  many accounts that you want, with a name and account number
Kid1=88888888888
Kid2=77777777777

[secrets]
clientId=<Get this from Sbanken developer panel>
password=<Get this from Sbanken developer panel>
customerId=<Your birth number (Fødselsnummer)>

[login]
identityServer=https://api.sbanken.no/identityserver/connect/token

[api]
baseUrl=https://api.sbanken.no
customerDetails=/customers/api/v1/Customers/
accountList=/bank/api/v1/Accounts/
accountDetails=/bank/api/v1/Accounts/{accountNumber}
transactionList=/bank/api/v1/Transactions/{accountNumber}
transferMethod=/bank/api/v1/Transfers/
